body{
	background-image:url('https://cdn.wallpapersafari.com/38/60/RvLtEc.jpg');
	background-repeat: no-repeat; 
	background-size: cover;
}

#statsModalBody{
	width: 100%;
	margin: auto;
	display: flex;
}

#statsModal{
	text-transform: uppercase;
}

#distribution{
	width: 75%;
	margin: auto;	
	margin-bottom: 10px;
}

#logo{

}

#statsModalBody > div{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

.btn{
	margin: 1rem;
}

#gameScreen {
  display: none;
}

#statsScreen{
	display: none;
}

#canvas{
	border-radius: 15px;
}

#gameScreen{
	margin-top: 2rem;
}