body {
	background-color: #72A0C1;
}




#statsModalBody{
	width: 100%;
	margin: auto;
	display: flex;
}

#statsModal{
	text-transform: uppercase;
}

#distribution{
	width: 75%;
	margin: auto;	
	margin-bottom: 10px;
}

#logo{

}

#statsModalBody > div{
	flex-grow: 1;
	flex-shrink: 1;
	flex-basis: 0;
}

#settingsModalBody{
	width:95%;
	margin: auto;
}

.btn{
	margin: 1rem;
}

#gameScreen {
  display: none;
}

#statsScreen{
	display: none;
}

#canvas{
	border-radius: 15px;
}

#gameScreen{
	margin-top: 2rem;
}

#navbar{
	/*border-bottom: 1px solid white;*/
}

#newGameButton{
	margin-top: 10rem;
	border: none;
	transition: transform 0.4s;
}

#difficultyChoice{
	margin-top: 10rem;
	border: none;
	 position: relative;
	  top: 0;
	  left: 0;
}

#playDisplay{
	margin-top: 1rem;
}

#chosenDifficultyDisplay{
	margin-top: 1rem;
}

#newGameButton:hover{
	transform: scale(1.5);
}

#difficultySelector{
	margin-top: 2rem;
	padding: 0.2rem;
	border-radius: 15px;
}

#difficultySelector > div{
	padding: 2rem;
}

#speedometer {
  position: relative;
  top: 0;
  left: 0;
}

#speedometerPointer {
  position: absolute;
  top: 15px;
  left: 10px;
}

@keyframes easyToNormal { from {} to { transform:rotate(134deg); } }
@keyframes easyToHard { from {} to { transform:rotate(260deg); } }
@keyframes normalToHard { from {transform:rotate(134deg);} to { transform:rotate(260deg); } }
@keyframes normalToEasy { from {transform:rotate(134deg);} to {} }
@keyframes hardToNormal { from {transform:rotate(260deg);} to {transform:rotate(134deg);} }
@keyframes hardToEasy { from {transform:rotate(260deg);} to {} }


.statsModeButtonDiv {
	flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  margin: 0.5rem;
}

.statsModeButtonDiv > button{
	width: 90%;
	margin: auto;
}